$primaryColor: #e7e5e2;

nav {
  height: 140px;
  background-color: $primaryColor;
  border-style: solid;
  border-width: 0 0 12px 0;
  border-color: #93877e;

  #contentHeader {
    width: 960px;
    height: 100%;
  }

  .navbar-nav {
    margin-top: 118px;
    background-image: url("../img/nav.png");
    background-size: 500px;
    background-repeat: no-repeat;
    width: 500px;
    text-align: center;
    li {
      width: 124px;
      height: 45px;

      a {
        color: white;
        font: 12px/24px Arial, Helvetica, sans-serif;
      }

      .active {
        background-image: url(../img/hover.png);
      }
    }
  }
}

#mainArea {
  width: 1100px;

  .adbox {
    position: relative;
    text-align: center;

    .adbox-group {
      margin-left: 40px;
      width: 900px;
      position: absolute;
      margin-top: 290px;
    }
    #adboxItem {
      background-image: url(../img/bg-adbox-feature.png);
      background-repeat: no-repeat;
      border-style: solid;
      border-width: 0 3px 0 0;
      border-color: gray;
    }
  }

  #content {
    font: 12px, Arial, Helvetica, sans-serif;

    .content-item {
      text-align: justify;
      margin: 0 10px 22px;
      padding: 0 10px 0 0;
    }
  }
}
#footer {
  height: 10w0px;
  background-color: $primaryColor;
  display: inline-block;
  width: 100%;

  #footerContent {
    width: 960px;
    margin-top: 10px;
    #copyright {
      float: left;
    }
    .socialMedia {
      float: right;
    }
  }
}

.aboutCard {
  background-color: $primaryColor;
}

.pagination {
  display: inline-block;

  a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
}

#archive {
  background-image: url("../img/archive.png");
  background-size: cover;
  background-repeat: no-repeat;
}
