nav {
  height: 140px;
  background-color: #e7e5e2;
  border-style: solid;
  border-width: 0 0 12px 0;
  border-color: #93877e;
}

nav #contentHeader {
  width: 960px;
  height: 100%;
}

nav .navbar-nav {
  margin-top: 118px;
  background-image: url("../img/nav.png");
  background-size: 500px;
  background-repeat: no-repeat;
  width: 500px;
  text-align: center;
}

nav .navbar-nav li {
  width: 124px;
  height: 45px;
}

nav .navbar-nav li a {
  color: white;
  font: 12px/24px Arial, Helvetica, sans-serif;
}

nav .navbar-nav li .active {
  background-image: url(../img/hover.png);
}

#mainArea {
  width: 1100px;
}

#mainArea .adbox {
  position: relative;
  text-align: center;
}

#mainArea .adbox .adbox-group {
  margin-left: 40px;
  width: 900px;
  position: absolute;
  margin-top: 290px;
}

#mainArea .adbox #adboxItem {
  background-image: url(../img/bg-adbox-feature.png);
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0 3px 0 0;
  border-color: gray;
}

#mainArea #content {
  font: 12px, Arial, Helvetica, sans-serif;
}

#mainArea #content .content-item {
  text-align: justify;
  margin: 0 10px 22px;
  padding: 0 10px 0 0;
}

#footer {
  height: 10w0px;
  background-color: #e7e5e2;
  display: inline-block;
  width: 100%;
}

#footer #footerContent {
  width: 960px;
  margin-top: 10px;
}

#footer #footerContent #copyright {
  float: left;
}

#footer #footerContent .socialMedia {
  float: right;
}

.aboutCard {
  background-color: #e7e5e2;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

#archive {
  background-image: url("../img/archive.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */